* {
	margin: 0;
	padding: 0;
	.link {
		text-decoration: none;
		color: inherit;
	}
}

$mintBlue: #88b2cc;
.app {
	display: flex;
	justify-content: center;
	.container {
		width: 1024px;
		//Login & Register
		.auth {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			background-color: $mintBlue;
			flex-direction: column;
			h1 {
				font-size: 20px;
				color: rgb(14, 116, 119);
				margin-bottom: 20px;
			}
			form {
				display: flex;
				flex-direction: column;
				padding: 20px;
				border-radius: 10px;
				background-color: white;
				width: 200px;
				gap: 20px;
				input {
					padding: 10px;
					border: none;
					border-bottom: 1px solid gray;
				}
				button {
					padding: 10px;
					border: none;
					border-radius: 5px;
					background-color: rgb(14, 116, 119);
					cursor: pointer;
					color: white;
				}
				span {
					font-size: 12px;
					text-align: center;
				}
				p {
					font-size: 12px;
					color: red;
					text-align: center;
				}
			}
		}
	}
}

//Navbar

.navbar {
	.container {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			img {
				width: 100px;
			}
		}
		.links {
			display: flex;
			align-items: center;
			gap: 10px;
			.link {
				text-decoration: none;
				color: inherit;
				h6 {
					font-weight: 300;
					font-size: 16px;
				}
			}
			span {
				cursor: pointer;
			}
			.write {
				background-color: $mintBlue;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 300;
				color: white;
				border: 3px solid rgb(252, 239, 239);
				&:hover {
					color: $mintBlue;
					background-color: #f2f7fa;
					border: 3px solid #f2f7fa;
				}
			}
		}
	}
}

//Footer

footer {
	margin-top: 10px;
	padding: 20px;
	background-color: $mintBlue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	img {
		height: 50px;
	}
	span {
		color: white;
	}
}

//Home

.home {
	margin: 50px 0;
	.posts {
		margin-top: 5px;
		display: flex;
		flex-direction: column;
		gap: 150px;
		.post {
			display: flex;
			gap: 100px;

			&:nth-child(2n) {
				flex-direction: row-reverse;
			}
			.img {
				flex: 2;
				position: relative;
				&::after {
					content: "";
					width: 100%;
					height: 100%;
					background-color: $mintBlue;
					position: absolute;
					top: 15px;
					left: -15px;
					z-index: -1;
				}
				img {
					width: 100%;
					max-height: 400px;
					object-fit: cover;
				}
			}
			.content {
				flex: 3;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				h1 {
					font-size: 48px;
				}
				p {
					font-size: 18px;
				}
				button {
					width: max-content;
					padding: 12px;
					border: none;
					border-radius: 6px;
					background-color: $mintBlue;
					color: white;
					cursor: pointer;
					&:hover {
						color: $mintBlue;
						background-color: whitesmoke;
					}
				}
			}
		}
	}
}

//Single

.single {
	display: flex;
	padding: 0 20px;
	gap: 50px;

	.content {
		flex: 5;
		display: flex;
		flex-direction: column;
		gap: 30px;
		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}

		.user {
			display: flex;
			align-items: center;
			gap: 10px;
			font-size: 14px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				object-fit: cover;
			}
			.info {
				margin: 10px 5px;

				span {
					font-weight: bold;
				}
			}
			.edit {
				display: flex;
				gap: 5px;
				img {
					width: 20px;
					height: 20px;
					cursor: pointer;
				}
			}
		}
		h1 {
			font-size: 42px;
			color: #333;
		}
		p {
			text-align: justify;
			line-height: 30px;
		}
	}
	.menu {
		flex: 2;
		display: flex;
		flex-direction: column;
		gap: 25px;

		h1 {
			font-size: 20px;
			color: #555;
		}
		.post {
			display: flex;
			flex-direction: column;
			gap: 10px;
			img {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
			h2 {
			}
			button {
				width: max-content;
				padding: 12px;
				border: none;
				border-radius: 6px;
				background-color: $mintBlue;
				color: white;
				border: 1px solid white;
				&:hover {
					background-color: whitesmoke;
					color: $mintBlue;
					border: 1px solid #333;
					cursor: pointer;
				}
			}
		}
	}
}

//Add

.add {
	margin-top: 20px;
	display: flex;
	gap: 20px;

	.content {
		flex: 5;
		display: flex;
		flex-direction: column;
		gap: 20px;

		input {
			padding: 10px;
			border: 1px solid lightgray;
		}
		.editorContainer {
			height: 300px;
			overflow: scroll;
			border: 1px solid lightgray;
			.editor {
				height: 100%;
				border: none;
			}
		}
	}
	.menu {
		flex: 2;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.item {
			border: 1px solid lightgray;
			padding: 12px;
			border-radius: 6px;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			font-size: 12px;
			color: #555;
			h1 {
				font-size: 20px;
			}
			.file {
				text-decoration: underline;
				cursor: pointer;
			}
			.buttons {
				display: flex;
				justify-content: space-between;

				:first-child {
					cursor: pointer;
					color: $mintBlue;
					background-color: whitesmoke;
					border: 1px solid $mintBlue;
					padding: 3px 5px;
				}
				:last-child {
					cursor: pointer;
					color: whitesmoke;
					background-color: $mintBlue;
					border: 1px solid whitesmoke;
					padding: 3px 5px;
				}
			}
			.cat {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				color: $mintBlue;
				gap: 3px;
			}
		}
	}
}
